<div class="footer">
    <div class="footer-content">
        QBid is a leading online auction platform, connecting buyers and sellers globally. 
        <br>Our goal is to provide a secure and transparent bidding experience for everyone.
    </div>
    <hr style = "border-color:#3f414d">
    <div>
        <a href="https://github.com/mpatel2280" target="_blank">
            <%= image_tag(asset_url("github.png"), class:"footer-icons") %>
        </a>
        <a href="https://www.linkedin.com/in/manishlinkedin" target="_blank">
            <%= image_tag(asset_url("linkedin.png"), class:"footer-icons") %>
        </a>
        <a href="https://www.instagram.com/" target="_blank"> 
            <%= image_tag(asset_url("instagram.png"), class:"footer-icons") %>
        </a>
        <a href="https://www.facebook.com/profile.php?id=XXXXXXXXXX" target="_blank">
            <%= image_tag(asset_url("facebook.png"), class:"footer-icons") %>
        </a>
        <span class="footer-item">Copyright &copy;2024 All rights reserved</span>
    </div>
</div>
<%# class="footer-item " %>